{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "useTabs": true,
  "bracketSpacing": true
}
